name: lint
permissions:
  contents: read
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v4
      with:
        go-version-file: '.go-version'
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.51.1
        args: --timeout=5m
