name: test
permissions:
  contents: read

on:
  push:
    branches:
    - master
    paths-ignore:
    - '**.md'
  pull_request:
    branches:
    - master
    paths-ignore:
    - '**.md'

concurrency:
  group: test-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: '.go-version'
    - name: test
      run: make test
  testacc_terraform:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        terraform:
        - 1.9.8
        - 1.8.5
        - 0.12.31
    env:
      TERRAFORM_VERSION: ${{ matrix.terraform }}
    steps:
    - uses: actions/checkout@v4
    - name: docker build
      run: docker compose build
    - name: start localstack
      run: |
        docker compose up -d localstack
        docker compose run --rm dockerize -wait tcp://localstack:4566 -timeout 60s
        docker compose exec -T localstack /etc/localstack/init/wait_s3_bucket_exists.sh
    - name: terraform --version
      run: docker compose run --rm tfmigrate terraform --version
    - name: testacc
      run: docker compose run --rm tfmigrate make testacc
  testacc_opentofu:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        opentofu:
        - 1.6.3
        - 1.7.5
        - 1.8.5
    env:
      OPENTOFU_VERSION: ${{ matrix.opentofu }}
      TFMIGRATE_EXEC_PATH: tofu
    steps:
    - uses: actions/checkout@v4
    - name: docker build
      run: docker compose build
    - name: start localstack
      run: |
        docker compose up -d localstack
        docker compose run --rm dockerize -wait tcp://localstack:4566 -timeout 60s
        docker compose exec -T localstack /etc/localstack/init/wait_s3_bucket_exists.sh
    - name: tofu --version
      run: docker compose run --rm tfmigrate tofu --version
    - name: testacc
      run: docker compose run --rm tfmigrate make testacc
